/*body {background: blue;}*/
h1 {text-align: center;
	
}
.center {margin-left: 10%;
		 margin-right: 10%;
		 margin-top: 20px;
		 padding: 5px;
		 /*background: rgb(245,245,245);*/}
.btn {margin-left: 30%;}