/*body{background: #88fff1;}*/
h1 {text-align: center;
	margin-top: 20px;
	}
table {width: 95%;
	   margin-left: 5%;}*/
.center { /*background: rgb(245,245,245);*/
	   margin-left: 5%;
	   /*margin-right: 5%;*/
	   margin-top: 30px;
	   height: 700px;
	   /*border: 2px solid #d00000;*/}
       /*table, th, td {border: 1px solid black;}*/
th,td {width: 15%; height: 25px;}
.link_to_trip {
			   color: black;}
