<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/homepage_cleantech.css')}}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #d00000;">
  <a class="navbar-brand" href="#">Insert Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('begin') }}>home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('about') }}>About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('example') }}>Example</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('enteratrip') }}>Enter a Trip</a>
      </li> <!--
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('login2') }}>Login/Sign Up</a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('logout') }}>Logout</a>
      </li>
    </ul>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign Up/Login</button>   
  </div>
</nav>

<div class="center">
<h1>Welcome {{current_user.name}}!</h1>
<p>Your email is {{current_user.email}}!</p>
<p>Your id is {{current_user.user_id}}!</p>

<h1>Available Rides</h1>

<table>
	<tr>
		<th>Trip Name</th>
		<th>From</th>
		<th>To</th>
		<th>Date</th>
		<th>Time</th>
		<th>Driver</th>
	</tr>
	<br>
	{% if trips %}

		{% for trip in trips %}
		<tr>
		<td>Sample</td>
		<td>{{trip[0]}}</td>
		<td>{{trip[1]}}</td>
		<td>{{trip[2]}}</td>
		<td>{{trip[3]}}</td>
		<td>{{trip[4]}}</td>
		</tr>
		{% endfor %}
{% endif %}

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
